@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 30px;
}
.cards {
  padding: 50px;
}
.card1 {
  background: hsl(31, 77%, 52%);
  border-radius: 10px 10px 0 0;
}
.card2 {
  background: hsl(184, 100%, 22%);
}
.card3 {
  background: hsl(179, 100%, 13%);
  border-radius: 0 0 10px 10px;
}
.imgs {
  margin-bottom: 30px;
}
.headings {
  color: hsl(0, 0%, 95%);
  font-family: 'Big Shoulders Display', cursive;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.pharagraphs {
  color: hsla(0, 0%, 100%, 0.637);
  line-height: 1.6;
  margin-bottom: 40px;
}
.btn {
  text-decoration: none;
  background: hsl(0, 0%, 95%);
  padding: 12px 35px;
  border-radius: 50px;
  border: solid 3px hsl(0, 0%, 95%);
  font-weight: 400;
}
.card1 .btn {
  color: hsl(31, 77%, 52%);
}
.card2 .btn {
  color: hsl(184, 100%, 22%);
}
.card3 .btn {
  color: hsl(179, 100%, 13%);
}
.btn:hover {
  background: transparent;
  color: hsl(0, 0%, 95%);
}

/* MediaQueries */
@media only screen and (min-width: 376px) {
  .container {
    flex-direction: row;
/*     margin-left: 250px;
    margin-right: 250px; */
    margin: auto;
  }
  .card1 {
    border-radius: 10px 0 0 10px;
  }
  .card3 {
    border-radius: 0 10px 10px 0;
  }
  .headings {
    margin-bottom: 25px;
  }
  .pharagraphs {
    font-size: 13px;
    margin-bottom: 80px;
  }
  .btn {
    padding: 9px 25px;
  }
}
